doctype html
html
  head
    title Hamza Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
              img(src="/static/logo.png")
              | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]    
            li #[a(href="/") Services] 
            li #[a(href="/contact") Contact Us]
            li #[a(href="/") Class Info]

            button.btnnav
                  | Join now 
            
    block content 
    footer#footer                     
        | Copyright © 2024 HamzaDanceacademy.com | All reghts resirved